.header{
  /* font-size: large; */
  color: black;
  margin: 0vh;
}

.projHeader{
font-size: 3vh;
margin-top: 1vh;
}

.skillsHeader{
font-size: 3vh;
margin-top: 3vh;
}

.skillsText{
font-size: 2vh;
margin: .4vh 5vw;
text-align: center;
}
.projText{
font-size: 2vh;
margin: .4vh 5vw;
text-align: justify;
}

.pic{
margin: 4vh 2vh;
  border: .3rem solid black;
  border-radius: 100%;
  max-width: 30vw;
}

.logo{
  width: 20vh;
  margin: 2vh;
  height: 20vh;
}

.iconContainer{
  /* margin-top: 20vh; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  height: 70vh;
}

.logo:hover{
  fill:  rgb(150, 83, 227)
}

.text{
width: 70%;
align-self: center;
text-align: justify;
font-size: 2vh;
}

.container{
  /* border: .2em solid black; */
  margin: 12vh 6rem;
  padding: 2rem;
display: flex;
flex-direction: column;
align-items: center;
  max-height: 70vh;
}




@media only screen and (max-width : 768px) {
  .container{
    margin: 11vh .2vw 0 .2vw;
    padding: 0rem;
  }

.logo{
  margin: 5vh;
  max-width: 10vh;
  /* height: 10vw; */

}


  .text{
    width: 80%;
    font-size: 1rem;
  }
  
  .pic{
/* margin: .2rem; */
max-width: 90%;
height: 15rem;
  }
  
  
}


@media screen and (max-width: 480) {
  .logo{
    margin: 0vh;
    width: 30%;
    height: 30%;
  
  }
}