.header{
  /* font-size: large; */
  color: black;
}

.pic{
margin: 2rem;
  border: .3rem solid black;
  border-radius: 100%;
  max-width: 50%;
}

.text{
width: 50%;
align-self: center;
text-align: justify;
font-size: 1.5rem;
}

.container{
  /* border: .2em solid black; */
  margin: 16rem 6rem;
  padding: 2rem;
display: flex;
flex-direction: column;
align-items: center;
  /* height: 70vh; */
}

@media only screen and (max-width : 768px) {
  .container{
    margin: 20% .2rem 10% .2rem;
    padding: 0rem;
  }

  .text{
    width: 80%;
    font-size: 1rem;
  }
  
  .pic{
margin: .2rem;
max-width: 90%;
height: 15rem;
  }
  
  
}


@media screen and (max-width: 480) {

}