#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

a {
  text-decoration: none;
  color: #2c3e50;
}

a:hover {
  color: rgb(197, 174, 223);
}

.scroll-marker {
  background-color: rgb(101, 47, 162);
  height: 0.8rem;
  width: 0.8rem;
  top: 5vh;
  z-index: 2;
  border-radius: 100%;
  position: fixed;
}

.item {
  /* Set the minimum height of the items to be the same as the height of the scroll-snap-container.*/
  min-height: 100%;
}

.scroll-snap-container {
  height: 100%;
  width: 100%;
}

.logo {
  color: rgb(0, 0, 0);
  border-radius: 100%;
  border: 3px solid black;
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Gruppo", cursive;
  font-size: 4vh;
  position: fixed;
  transform: translateX(-50%);
  top: 3.5vh;
  left: 50%;
  background-color: white;
  z-index: 4;
}

.logo:hover {
  background-color: rgb(197, 174, 223);
}

.menubar {
  height: 7vh;
  width: 60%;
  position: fixed;
  top: 5vh;
  left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.1); */
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0.2527714067278287) 100%
  );
  transform: translateX(-50%);
  border-top: 2px solid;
  border-bottom: 2px solid;
  /* border-bottom: 2px solid ; */
  border-color: rgb(0, 0, 0);
  /* border-image-source: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(255,255,255,1) 100%); */
  border-image-slice: 1;
  z-index: 1;
}

.menu-item {
  font-size: 2vw;
}

.menu-spacer {
  width: 8rem;
}

.container {
  border: 0.3em solid black;
  margin: 10rem 6rem;
  padding: 2rem;
  padding-top: 10rem;
  /* max-width: 70vw; */
  background-image: url("./assets/cooke.JPG");
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  height: 65vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homecontainer {
  margin-top: 8.7vh;
  padding-top: 7vh;
}

.head1 {
  font-size: 5vw;
  color: white;
}

.head2 {
  font-size: 4vw;
  color: white;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .container {
    /* margin: 10% 1rem 1% 1rem; */
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .logo {
    top: 1vh;
    border: 2px solid black;
    width: 8vh;
    height: 8vh;
    font-size: 1.3rem;
  }

  .homecontainer {
    margin-top: 5vh;
    margin-bottom: 4vh;
  }

  .menubar {
    width: 80%;
    height: 6vh;
    top: 2%;
    border-top: 2px solid;
    border-bottom: 2px solid;
  }

  /* .menu-item{
    font-size: 1rem;
  } */

  /* .menu-spacer{
    width: 4rem;
  } */

  /* .head1{
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
}

.head2{
  font-size: 1.5rem;
  color: white; */
  /* } */
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .menubar {
    height: 5vh;
    width: 80%;
    top: 2.4%;
    border-top: 2px solid;
    border-bottom: 2px solid;
  }

  .menu-item {
    font-size: 0.8rem;
  }

  .menu-spacer {
    width: 4rem;
  }

  .scroll-marker {
    background-color: rgb(101, 47, 162);
    height: 0.4rem;
    width: 0.4rem;
    top: 3.6vh;
    z-index: 2;
    border-radius: 100%;
    position: fixed;
  }
}
